- title "Home"
 
.hero.outer-container
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\r\n"}/
    .hero-copy
      %h1 HealthCare
      %p Track patients and medications for health care facilities

.cards
  .card
    %a{:href => facilities_path}
      .card-header
        Facilities
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
  .card
    %a{:href => patients_path}
      .card-header
        Patients
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
  .card
    %a{:href => medications_path}
      .card-header
        Medications
      .card-copy
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.