- title "Home"
 
#js-parallax-window.parallax-window
  .parallax-static-content
    = image_tag "icons/heart-icon.png"
    .hero-copy
      %h1 HealthCare
      %p Track patients and medications for health care facilities
  #js-parallax-background.parallax-background

%ul.bullets
  %li.bullet.three-col-bullet
    .bullet-icon.bullet-icon-1
      = image_tag "icons/building-icon.png"
    .bullet-content
      %a{:href => facilities_path}
        %h2
          Facilities
      %p Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.
  %li.bullet.three-col-bullet
    .bullet-icon.bullet-icon-2
      = image_tag "icons/patient-icon.png"
    .bullet-content
      %a{:href => patients_path}
        %h2 
          Patients
      %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.
  %li.bullet.three-col-bullet
    .bullet-icon.bullet-icon-3
      = image_tag "icons/medication-icon.png"
    .bullet-content
      %a{:href => medications_path}
        %h2 
          Medications
      %p Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.