=title "Create Patient"
.row
  .large-3.column
    %ul.side-nav
      %li
        %a{:href => new_facility_path} Add New Facility
  .large-9.column
    .row
      %fieldset
        %legend Add New Patient
        = render 'form'