@import 'mixins/navigation';
@import 'mixins/centered-navigation';
@import 'mixins/hero';
@import 'mixins/footer';
@import 'mixins/cards';
@import 'mixins/parallax';
@import 'mixins/icon-bullet-points';


// navigation
header.navigation ul li.nav-link {
  display: inline-block;
  width: initial;
}

// parallax
.parallax-static-content {
  color: $white;
  img {
    max-height: 25%;
  }
}

#js-parallax-window.parallax-window {
  margin-bottom: 50px;
}
