@import 'modules/navigation';
@import 'modules/centered-navigation';
@import 'modules/hero';
@import 'modules/footer';
@import 'modules/cards';
@import 'modules/parallax';
@import 'modules/icon-bullet-points';
@import 'modules/article';


// navigation
header.navigation ul li.nav-link {
  display: inline-block;
  width: initial;
}

header.navigation .logo img {
  max-height: 100%;
  padding: .25em;
}

// parallax
.parallax-static-content {
  color: $white;
  img {
    max-height: 25%;
  }
}

#js-parallax-window.parallax-window {
  margin-bottom: 50px;
}
