@import 'mixins/navigation';
@import 'mixins/hero';
@import 'mixins/footer';
@import 'mixins/cards';
@import 'mixins/parallax';
@import 'mixins/icon-bullet-points';



.parallax-static-content {
  color: $white;
  img {
    max-height: 25%;
  }
}

#js-parallax-window.parallax-window {
  margin-bottom: 50px;
}