// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins/grid-item-columns';
@import 'mixins/flex-boxes';
@import 'mixins/search-bar';
@import 'mixins/side-image';


// Top level button and nav
.button-container {
  @include outer-container;
}

.nav-button {
  button {
    width: 100%;
  }
  @include media($large-screen) {
      @include span-columns(4);
  }
}

.button {
  @include button;
}

button a {
  color: white;
}


// Flex-box tweaks

.flex-boxes .flex-box {
  padding:2em;

  h1 {
    margin-top: 1.5em;
  }
  
  img {
    height: 5em;
  }

  p {
    margin-bottom: 0.75em;
  }

  .links {
    margin-top: 1.25em;
  }
}

.flex-box {
  position: relative;
  h1 {
    margin-top: 1.5em;
  }
  .links {
    margin-top: 1.25em;
  }
}

.links {
  margin: 0 auto;
}

.link-button {
  margin-right: 5px;
}

.search-heading {
  text-align: center;
  .button {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 18px;
  }
  .search-bar {
    
    width: 60%;
    display: inline-block;
  }
}

// Facility Show tweaks

.side-image .side-image-content h4 {
  font-size: 2.5rem;
}

.side-image .side-image-content {
  padding: 4em;
}

.list-header {
  text-align:center;
  padding: 1em;
  h2 {
    font-size: 1.2rem;
  }
}

.grid-items-lines .grid-item {
  position:relative;  
    img {
      opacity: 0.75;
      height: 3.5em;
    }
    p {
      max-width: 100%;
    }  
}

